body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

/* Light Mode */
.light {
  background-color: #f8fafc;
  color: #0f172a;
}

/* Dark Mode */
.dark {
  background-color: #0f172a;
  color: white;
}

/* Smooth transition */
body, div {
  transition: all 0.3s ease;
}